@model Fangorn.Models.TicketViewModels.TicketComment

<br />
<form asp-action="CommentCreate">
    
    <div class="form-horizontal">
        <h4>New Comment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            
            <div class="col-md-10">
                Comment<textarea asp-for="Content" rows="10" cols="10" class="form-control"></textarea>

                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit Comment" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

