@model Tower.Models.ServiceOrderViewModels.BillableViewModels.CreateBillableTimeViewModel
@{
    ViewData["Title"] = "Create Billable Time";
}
<h2>Create Billable Time</h2>
<h4>Enter Data for </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBillableTimePost" asp-route-id="@Model.ServiceOrder.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Minutes" class="control-label"></label>
                <input asp-for="Minutes" class="form-control" />
                <span asp-validation-for="Minutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPerformed" class="control-label"></label>
                <input asp-for="WorkPerformed" class="form-control" />
                <span asp-validation-for="WorkPerformed" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
