@model Tower.Models.TrackerViewModels.RecentTimeLogsViewModel

@{ 
    ViewData["Title"] = "ViewTimeLogView";

}

<h2>My Recently Logged Times</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TimeLogs)
        {
            <tr>
                <td>
                   
                </td>
            </tr>
        }
    </tbody>
</table>