
@{
    ViewData["Title"] = "view";
}

<h2>view</h2>

<div id="dataContainer">
    <h2>Tickets</h2>
    <table id="tableTickets">
        <tr><thead>ID</thead>
        <thead>Title</thead>
        <thead>Due Date</thead>
        </tr>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr id="@ticket.ID">
                    <td>@ticket.Title</td>
                    <td>@ticket.Description</td>
                    <td>@ticket.DueDate</td>
                </tr>

            }
        </tbody>
    </table>
</div>

<!--Create an pagination property on particular tickets-->


