@model Tower.Models.ProjectViewModels.CreateProjectTaskViewModel
@using Tower.Models.ProjectViewModels;
@{
    ViewData["Title"] = "AddProjectTaskView";
}
<h4>Add Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostCreateProjectTask" asp-route-id="@Model.Project.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            
            <hr />
            <div class="form-group">
                <label asp-for="StoryPoints" class="control-label"></label>
                <input asp-for="StoryPoints" class="form-control" />
                <span asp-validation-for="StoryPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complexity" class="control-label"></label>
                <input asp-for="Complexity" class="form-control" />
                <span asp-validation-for="Complexity" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="CompletionDate" class="control-label"></label>
                <input asp-for="CompletionDate" class="form-control" />
                <span asp-validation-for="CompletionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger" />
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            
        </form>
    </div>
    
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
