@model Fangorn.Models.HomeViewModels.ContactModel

@{
    ViewData["Title"] = "Contact the Company";
}

<h2>Contact Us</h2>

<form asp-controller="Home" asp-action="contact" method="post">
    <div class="form-horizontal">
        <h4>We'd love to hear from you. Fill out the form below and we'll get back to you as soon as possible.</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


