
@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        
        background-color: #06d63d;
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -20%;
    }

    .row-offcanvas-left.active {
        left: 20%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 20%;
        margin-left: 12px;
        
        background-color: #06d63d;
    }

    .sidebar-design {
        background-color: #06d63d;
    }
}

#sidebar {
    padding: 15px;
    margin-top: 10px;
    
    background-color: #06d63d;
}


