body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFF !important;
    color: black;
}
.navbar-default {
    background-color: #203a44 !important;
    
}
.navbar-inverse .navbar-header .navbar-brand {
    color: #F5F5F5 !important;
}


/*background color of navbar*/
.navbar-inverse {
    background-color: #089DD8 !important;
}
/*link colors*/
.nav.navbar-nav li a {
    color: #F5F5F5;
}
.nav.navbar-nav button {
    color: #F5F5F5;
}

.nav.navbar-nav a:hover {
    color: black !important;
}   


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/*prevents modal popup from  greying out.*/
body.modal-open div.modal-backdrop {
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .modal-large {
        width: 90%;
    }
}

.bell {
    position:relative;
    top: 10px;
    background-color: whitesmoke;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.field-validation-error {
    background-color: white;
    border-radius: 4px;
    border: solid 1px #333;
    display: inline-block;
    
    
    text-align: right;
}

.jumbotron {
    background-color: #dcdcdc;
}

.body-site {
    background-color: #1e1e1e !important;
}

.footer {
    color: #F5F5F5;
}