body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF !important;
    color: black;
}
.navbar-default {
    background-color: #203a44 !important;
    
}
.navbar-inverse .navbar-header .navbar-brand {
    color: #F5F5F5 !important;
}

.table-overflow {
    overflow-x: auto;
} 
/*background color of navbar*/
.navbar-inverse {
    background-color: #089DD8 !important;
}
/*link colors*/
.nav.navbar-nav li a {
    color: #F5F5F5;
}
.nav.navbar-nav button {
    color: #F5F5F5;
}

.nav.navbar-nav a:hover {
    color: black !important;
}   


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width:80%
    
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.bell {
    position:relative;
    top: 10px;
    background-color: whitesmoke;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.field-validation-error {
    background-color: white;
    border-radius: 4px;
    border: solid 1px #333;
    display: inline-block;
    
    
    text-align: right;
}

.jumbotron {
    background-color: #dcdcdc;
    width: 100%;
    
}

.body-site {
    background-color: #1e1e1e !important;
}
th {
    white-space: nowrap;
}
.footer {
    color: #F5F5F5;
}